body {
  .top {
    form {
      margin: 30px auto;
      padding: 15px;
      border: 1px solid grey;
      border-radius: 10px;
      min-width: 320px;
    }
  }
  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: start;
    .card {
      margin: 10px;
      display: flex;
      justify-content: start;
      img {
        padding: 10px;
        min-height: 240px;
      }
    }
  }
}
